$mainMotive: #35bb9e;
$sliderShadow: #d2d1d5;
$border3rdIcon:#dadada;
$listSectionColor:#f2f2f2;
$listShadow1: #f2f2f2;
$listShadow2:#e4e4e4;
$dotShadow: #c2c2c2;
$priceFontGrey:#bcbcbc;
$formBorder:#a6e3d3;
$thirdSectionBckgrColor:#f2f2f2;
$options:#e4e4e4;
$optionsFont:#909090;


//background-color: #d2d1d5; // Old browsers
//@include filter-gradient(#d2d1d5, #ffffff, vertical); // IE6-9
//@include background-image(linear-gradient(top, #d2d1d5 0%,#d2d1d5 0%,#ffffff 100%));